body {
    background-image: url(../img/gimp.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: scroll;
}


.title:hover {
    color: aqua;
}

.space {
    margin-top: 20px;
    padding-top: 80px
}

.monsterImg2 {
    width: 500px;
    animation: monster2animation linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes monster2animation {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    10% {
        transform: translate(77px, -60px) rotate(29deg);
    }
    20% {
        transform: translate(-121px, -90px) rotate(-33deg);
    }
    30% {
        transform: translate(50px, 50px) rotate(40deg);
    }
    50% {
        transform: translate(-12px, -36px) rotate(-29deg);
    }
    56% {
        transform: translate(16px, -43px) rotate(42deg);
    }
    60% {
        transform: translate(34px, -56px) rotate(-33deg);
    }
    65% {
        transform: translate(58px, -71px) rotate(43deg);
    }
    80% {
        transform: translate(127px, -118px) rotate(-16deg);
    }
    81% {
        transform: translate(102px, -117px) rotate(-20deg);
    }
    90% {
        transform: translate(-123px, -108px) rotate(-55deg);
    }
    96% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    100% {
        transform: translate(0px, 0px) rotate(0deg);
    }
}


.monsterImg3 {
    width: 500px;
    animation: firstmonster linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}
@keyframes firstmonster{
  0% {
    transform:  translate(0px,0px)  rotate(0deg) ;
  }
  19% {
    transform:  translate(0px,-81px)  rotate(0deg) ;
  }
  20% {
    transform:  translate(0px,-85px)  rotate(288deg) ;
  }
  25% {
    transform:  translate(0px,-85px)  rotate(360deg) ;
  }
  27% {
    transform:  translate(0px,-85px)  rotate(360deg) ;
  }
  28% {
    transform:  translate(0px,-83px)  ;
  }
  40% {
    transform:  translate(0px,0px)  ;
  }
  51% {
    transform:  translate(0px,0px)  ;
  }
  56% {
    transform:  translate(0px,-40px)  ;
  }
  60% {
    transform:  translate(0px,-34px)  ;
  }
  80% {
    transform:  translate(0px,0px)  ;
  }
  100% {
    transform:  translate(0px,0px)  rotate(360deg) ;
  }
}
.weapon0 {cursor: url("../img/cursor.png"),
    pointer;}
.weapon1 {cursor: url("../img/cursor1.png"),
    pointer;}
.weapon2 {cursor: url("../img/cursor2.png"),
    pointer;}
.monsterImg {
    width: 500px;
    animation: bouncymonster linear 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
}

@keyframes bouncymonster {
    0% {
        transform: translate(0px, 0px);
    }
    20% {
        transform: translate(-1px, 65px);
    }
    40% {
        transform: translate(0px, 0px);
    }
    60% {
        transform: translate(-1px, 65px);
    }
    80% {
        transform: translate(0px, 0px);
    }
    86% {
        transform: translate(-27px, 0px);
    }
    88% {
        transform: translate(55px, -1px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.stats {
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: 'VT323', monospace;
    color: black;
    background-color: transparent;
    font-size: 50px;
}

#damage {
    color: red;
    animation: 1.5s ease-out 0s 1 increase;
}

#health {
    color: green;
    animation: 1.5s ease-out 0s 1 increase;
}
#coins {
    color: gold;
    animation: 1.5s ease-out 0s 1 increase;
}

@keyframes increase {
    0% {
        font-size: 80px;
    }
    100% {
        font-size: 50px;
    }
}

h2 {
    color: white;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 50px;
}

h1 {
    font-size: 200px;
    text-align: center;
    color: red;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0;
    line-height: 0;
    text-shadow: 2px 2px 8px white;
    font-family: 'VT323', monospace;



    animation: glitch1 2.5s infinite;
}

h1:nth-child(2) {
    color: yellow;
    animation: glitch2 2.5s infinite;
    z-index: 1
}

h1:nth-child(3) {
    color: blue;
    animation: glitch3 2.5s infinite;
    z-index: 1
}

/*Keyframes*/

@keyframes glitch1 {
    0% {
        transform: none;
        opacity: 1;
    }
    7% {
        transform: skew(-0.5deg, -0.9deg);
        opacity: 0.75;
    }
    10% {
        transform: none;
        opacity: 1;
    }
    27% {
        transform: none;
        opacity: 1;
    }
    30% {
        transform: skew(0.8deg, -0.1deg);
        opacity: 0.75;
    }
    35% {
        transform: none;
        opacity: 1;
    }
    52% {
        transform: none;
        opacity: 1;
    }
    55% {
        transform: skew(-1deg, 0.2deg);
        opacity: 0.75;
    }
    50% {
        transform: none;
        opacity: 1;
    }
    72% {
        transform: none;
        opacity: 1;
    }
    75% {
        transform: skew(0.4deg, 1deg);
        opacity: 0.75;
    }
    80% {
        transform: none;
        opacity: 1;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes glitch2 {
    0% {
        transform: none;
        opacity: 0.25;
    }
    7% {
        transform: translate(-2px, -3px);
        opacity: 0.5;
    }
    10% {
        transform: none;
        opacity: 0.25;
    }
    27% {
        transform: none;
        opacity: 0.25;
    }
    30% {
        transform: translate(-5px, -2px);
        opacity: 0.5;
    }
    35% {
        transform: none;
        opacity: 0.25;
    }
    52% {
        transform: none;
        opacity: 0.25;
    }
    55% {
        transform: translate(-5px, -1px);
        opacity: 0.5;
    }
    50% {
        transform: none;
        opacity: 0.25;
    }
    72% {
        transform: none;
        opacity: 0.25;
    }
    75% {
        transform: translate(-2px, -6px);
        opacity: 0.5;
    }
    80% {
        transform: none;
        opacity: 0.25;
    }
    100% {
        transform: none;
        opacity: 0.25;
    }
}

@keyframes glitch3 {
    0% {
        transform: none;
        opacity: 0.25;
    }
    7% {
        transform: translate(2px, 3px);
        opacity: 0.5;
    }
    10% {
        transform: none;
        opacity: 0.25;
    }
    27% {
        transform: none;
        opacity: 0.25;
    }
    30% {
        transform: translate(5px, 2px);
        opacity: 0.5;
    }
    35% {
        transform: none;
        opacity: 0.25;
    }
    52% {
        transform: none;
        opacity: 0.25;
    }
    55% {
        transform: translate(5px, 1px);
        opacity: 0.5;
    }
    50% {
        transform: none;
        opacity: 0.25;
    }
    72% {
        transform: none;
        opacity: 0.25;
    }
    75% {
        transform: translate(2px, 6px);
        opacity: 0.5;
    }
    80% {
        transform: none;
        opacity: 0.25;
    }
    100% {
        transform: none;
        opacity: 0.25;
    }
}

.hurt:active {
    animation: sword-animation linear 0.2s;
    animation-iteration-count: 1;
    -webkit-animation: sword-animation linear 0.2s;
    -webkit-animation-iteration-count: 1;
    -moz-animation: sword-animation linear 0.2s;
    -moz-animation-iteration-count: 1;
    -o-animation: sword-animation linear 0.2s;
    -o-animation-iteration-count: 1;
    -ms-animation: sword-animation linear 0.2s;
    -ms-animation-iteration-count: 1;

}

@keyframes sword-animation {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(15deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(5deg);
    }
    80% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@-moz-keyframes sword-animation {
    0% {
        -moz-transform: rotate(0deg);
    }
    20% {
        -moz-transform: rotate(15deg);
    }
    40% {
        -moz-transform: rotate(-10deg);
    }
    60% {
        -moz-transform: rotate(5deg);
    }
    80% {
        -moz-transform: rotate(-5deg);
    }
    100% {
        -moz-transform: rotate(0deg);
    }
}

@-webkit-keyframes sword-animation {
    0% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(15deg);
    }
    40% {
        -webkit-transform: rotate(-10deg);
    }
    60% {
        -webkit-transform: rotate(5deg);
    }
    80% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(0deg);
    }
}

@-o-keyframes sword-animation {
    0% {
        -o-transform: rotate(0deg);
    }
    20% {
        -o-transform: rotate(15deg);
    }
    40% {
        -o-transform: rotate(-10deg);
    }
    60% {
        -o-transform: rotate(5deg);
    }
    80% {
        -o-transform: rotate(-5deg);
    }
    100% {
        -o-transform: rotate(0deg);
    }
}

@-ms-keyframes sword-animation {
    0% {
        -ms-transform: rotate(0deg);
    }
    20% {
        -ms-transform: rotate(15deg);
    }
    40% {
        -ms-transform: rotate(-10deg);
    }
    60% {
        -ms-transform: rotate(5deg);
    }
    80% {
        -ms-transform: rotate(-5deg);
    }
    100% {
        -ms-transform: rotate(0deg);
    }
}

/*NUBESSSSSSSSSSSSSSS!*/

/*Time to finalise the cloud shape*/

.cloud {
    width: 200px;
    height: 60px;
    background: crimson;

    border-radius: 200px;
    -moz-border-radius: 200px;
    -webkit-border-radius: 200px;

    position: relative;
}

.cloud:before,
.cloud:after {
    content: '';
    position: absolute;
    background: crimson;
    width: 100px;
    height: 80px;
    position: absolute;
    top: -15px;
    left: 10px;

    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -moz-transform: rotate(30deg);
}

.cloud:after {
    width: 120px;
    height: 120px;
    top: -55px;
    left: auto;
    right: 15px;
}

/*Time to animate*/

.x1 {
    -webkit-animation: moveclouds 15s linear infinite;
    -moz-animation: moveclouds 15s linear infinite;
    -o-animation: moveclouds 15s linear infinite;
    z-index: -1;
}

/*variable speed, opacity, and position of clouds for realistic effect*/

.x2 {
    left: 200px;
    z-index: -1;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.6;
    /*opacity proportional to the size*/
    /*Speed will also be proportional to the size and opacity*/
    /*More the speed. Less the time in 's' = seconds*/
    -webkit-animation: moveclouds 25s linear infinite;
    -moz-animation: moveclouds 25s linear infinite;
    -o-animation: moveclouds 25s linear infinite;
}

.x3 {
    left: -250px;
    top: -200px;
    z-index: -1;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

.x4 {
    left: 470px;
    top: -250px;
    z-index: -1;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.75;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 18s linear infinite;
    -moz-animation: moveclouds 18s linear infinite;
    -o-animation: moveclouds 18s linear infinite;
}

.x5 {
    left: -150px;
    top: -150px;
    z-index: -1;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.8;
    /*opacity proportional to the size*/
    -webkit-animation: moveclouds 20s linear infinite;
    -moz-animation: moveclouds 20s linear infinite;
    -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-moz-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

@-o-keyframes moveclouds {
    0% {
        margin-left: 1000px;
    }
    100% {
        margin-left: -1000px;
    }
}

/*TIENDA!! */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 12px 0 15px -4px black;

}

.textStore {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'VT323', monospace;
    cursor:pointer;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;
            user-select: none; 
}

textStore:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.text {
    color: white;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 150px;
}

